footer {
  margin-top: 1em;
  font-size: 11px;
  text-align: center;
}

.App {
  text-align: left;
  background-color: #282c34;
  min-height: 100vh;
  padding-top: 3em;
  color: white;
}

.logo {
  margin-bottom: 5e;
  margin: 0 auto 5em;
  display: block;
  max-width: 100px;
  max-height: 100px;
}

.coder {
  font-style: italic;
  color: #ddd; 
  text-decoration: none;
}



