footer {
  margin-top: 1em;
  font-size: 11px;
  text-align: center;
  letter-spacing: 1px;
}

.App {
  text-align: left;
  background-color: #ea8a8a;
  min-height: 100vh;
  padding-top: 3em;
  color:#323643;
}

.logo {
  margin-bottom: 5e;
  margin: 0 auto 1em;
  display: block;
  max-width: 500px;
  max-height: 350px;
}

.coder {
  font-style: italic;
  color: #f2f2f2; 
  text-decoration: none;
  font-weight: 500;
}

.coder:hover {
  color: rgba(255, 217, 0, 0.836);

}



