h2 {
    font-size: 27px;
    margin-bottom: 20px;
}

.container {
    max-width: 900px;
}

.Dictionary section {
    background: #ebd5d5;
    padding: 30px;
    margin: 15px 0;
    border-radius: 16px;  
    border: 1px solid #685454; 
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%); 
}

.Dictionary input {
    width: 100%;
    border-radius: 8px;
    padding: 6px 4px;
    border: 1px solid #685454;
}

.suggestion {
    font-size: 12px;
    opacity: 70%;
    margin-top: 5px;
}

